{% extends 'myapp/parent.html'%} 
<html>
    <body>
        {% block for_child %} 
        <div class="jumbotron">
            <div class="container">
                <h2> Instructions</h2>
                <ul type="none">
                    <li>1.only one attempt you have</li>
                    <li>2.no mall practice is allowed</li>
                    <li>3.no nagetive marking</li>
                    <li>4.only 90 minutes will be given</li>
                    <li>5.If you change the tag,you will be blocked immediatly</li>
                </ul>
            </div>
        </div>
        {% endblock%}
    </body>
</html>